@media screen and (max-width: 1080px) {

  /*Navigation styles*/

  @keyframes small {
    0% {margin-left: 0%; opacity: 100;}
    60% {margin-left: 100%; opacity: 0;}
    99% {opacity: 0; display: block}
    100% {display: none;}
  }

  .nav-link-wrapper-wrapper-wrapper {
    height: auto;
    width: auto;
  }
  
  .nav-link-wrapper-wrapper {
    animation-fill-mode: forwards;
    animation-name: small;
    animation-duration: 0.5s;
  }

  .nav-link-wrapper {
    position: relative;
    margin-right: 0px;
  }

  .arrow-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
    transition:  transform 0.3s;
    visibility: visible;
  }
  
  .arrow {
    width: 8px;
    height: 8px;
    vertical-align: center;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    cursor: pointer;
  }
  
  .arrow-wrapper.active {
    transform: rotate(-90deg);
  }

  .nav-small.active {
    display: grid;
  }
  
  .nav-small-link-wrapper {
    border-bottom: 1px solid transparent;
    margin-top: 6px;
    transition: border-bottom 0.5s;
    height: 25px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin: auto;
  }
  
  .nav-small-link-wrapper a {
    color: #6489C6;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-small-link-wrapper:hover {
    border-bottom: 1px solid #6489C6;
  }
  
  .nav-small-link-wrapper a:hover {
    color: #6489C6;
  }
  
  /*Breadcrumb Styles*/
  ul.breadcrumbs {
    margin-left: 3em;
  }
  
  li.link.home {
    list-style-type: none;
  }
  
  /*weeb styles*/

  /*.video-fade-wrapper {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 800px;
    height: 600px;
  }
  
  .video-fade {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 0 #FF0000;
    transform: perspective(309px) rotateX(167deg) rotateY(180deg);
    transform-origin: 0% 50%;
    z-index: 3;
  }*/
}