@media screen and (max-width: 1080px) {

  /*Navigation styles*/

  @keyframes small {
    0% {left: 0px; margin-right: 135px; opacity: 100; color: #FFE455;}
    60% {left: 800px; margin-right: 0px; opacity: 0;}
    100% {display: none; width: 0%; opacity: 0;}
  }
  
  .nav-link-wrapper {
    position: relative;
    animation-name: small;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-right: 0px;
  }

  .arrow-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
    transition:  transform 0.3s;
    visibility: visible;
  }
  
  .arrow {
    width: 8px;
    height: 8px;
    vertical-align: center;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    cursor: pointer;
  }
  
  .arrow-wrapper.active {
    transform: rotate(-90deg);
  }

  .nav-link-wrapper-wrapper {
    display: none;
  }

  .nav-small {
    display: none;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    position: fixed;
    top: 76px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FFE455;
    transition: color 0.5s;
    transition: background-color 0.5s;
  }

  .nav-small.active {
    display: grid;
  }
  
  .nav-small-link-wrapper {
    border-bottom: 1px solid transparent;
    margin-top: 6px;
    transition: border-bottom 0.5s;
    height: 25px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin: auto;
  }
  
  .nav-small-link-wrapper a {
    color: #6489C6;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-small-link-wrapper:hover {
    border-bottom: 1px solid #6489C6;
  }
  
  .nav-small-link-wrapper a:hover {
    color: #6489C6;
  }
  
  /*Breadcrumb Styles*/
  ul.breadcrumbs {
    margin-left: 3em;
  }
  
  li.link.home {
    list-style-type: none;
  }
  
  /*Wonderings Styles*/
  .page-wrapper {
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 55em;
  }
  
  .page-title-wrapper {
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  
  .page-title-wrapper a {
    color: #3946B7;
  }
  
  .page-title-wrapper a:hover {
    text-decoration: underline;
  }
  
  .page-description-wrapper {
    font-size: 100%;
    font-family: "Inter", serif;
    color: #1C1813;
  }
  
  /*Wonderings Content Styles*/
  
  .article-wrapper {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 300px;
  }
  
  .article-image-wrapper {
    float: left;
    padding: 1em;
  }
  
  .filler {
    padding-top: 20px;
  }
  
  /*Lessons Styles*/
  
  .lesson-wrapper {
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 55em;
  }
  
  .lesson-title-wrapper > a {
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #3946B7;
  }
  
  .lesson-title-wrapper a:hover {
    text-decoration: underline;
  }
  
  
  .lesson-column-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
  }
  
  .lesson-column-wrapper > img {
    padding-top: 20px;
  }
  
  .column-text-wrapper {
    margin-left: 20px;
    margin-top: 40px;
  }
  
  .column-text-wrapper > a {
    display: block;
    margin-top: 20px;
    font-size: 17px;
    text-decoration: underline;
  }
  
  /*Lessons Content Styles*/
  .article-video-wrapper > a {
    display: block;
    margin-top: 20px;
    font-size: 17px;
    text-decoration: underline;
  }
  
  .video {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .video.hidden {
    visibility: hidden;
  }
  
  .tab {
    margin-inline-start: 40px;
  }
  
  /*Weeb Styles*/
  .background-wrapper.weeb {
    position: fixed;
  }
  
  .background-video {
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 88px;
    right: 0px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    z-index: -2;
  }
  
  .background-color {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #6493E1;
    z-index: -3;
    transition: background-color 1s;
  }
  
  /*.video-fade-wrapper {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 800px;
    height: 600px;
  }
  
  .video-fade {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 0 #FF0000;
    transform: perspective(309px) rotateX(167deg) rotateY(180deg);
    transform-origin: 0% 50%;
    z-index: 3;
  }*/
  
  .video-fade-two {
    /*position: fixed;
    top: 88px;
    right: 0px;*/
  /*Width of the video divided by 3 plus the height of the div #6493E1*/
    box-shadow: 0 0 50px 50px red;
    transform: rotateZ(70deg);
    width: 100%;
    transition: box-shadow 1s;
  }
  
  .description-wrapper {
    padding-left: 100px;
    max-width: 800px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;	
  }
  
  .description-wrapper > h1 {
    margin-bottom: 40px;
  }
  
  .dr-stone-wrapper {
    padding-left: 12em;
    overflow: hidden;
  }
  
  .dr-stone-wrapper {
    padding-left: 0em;
  }
  
  .cells-at-work-wrapper {
    padding-left: 12em;
    overflow: hidden;
  }
  
  .cells-at-work-wrapper {
    padding-left: 0em;
  }
  
  .series-wrapper {
    padding-left: 100px;
    padding-top: 200px;
  }
  
  .episodes-wrapper {
    padding-left: 50px;
    max-width: 800px;
    background-color: #00000095;
    box-shadow: 0px 920px 80px 1000px #00000095;
  }
  
  .episode-wrapper {
    margin-bottom: 120px;
  }
  
  .episode-wrapper > a:hover {
    text-decoration: underline;
    color: white;
  }
  
  /*About Styles*/
  
  .about-wrapper {
    margin: 2em auto;
    
  }
}